<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastrar-categoria.css">
    <title>Cadastrar novo produto</title>
</head>
<body>

<div th:include="/fragments/header.html"></div>

<main>

    <h1 class="title">Formulário de cadastro de produto</h1>

    <div class="form-container">
        <form th:object="${categoryEntity}" action="/cadastrar-categoria" method="POST">

            <input
                    class="input-form"
                    type="text"
                    placeholder="Nome da categoria"
                    th:field="*{name}"
            />


            <button type="submit">Cadastrar</button>
        </form>
    </div>
</main>
</body>
</html>